/* GENERAL */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Exo 2', sans-serif;
}
main {
    flex: 1 0 auto;
    color: white;
    background-image: url('../images/dumbells_background.jpg');
    background-size: cover;
}
.page-container{
    background-color: rgba(66, 66, 66, 0.5);;
    box-sizing: border-box;
}

/* NAVIGATION */
.nav-wrapper {
    background-color: black;
    color: white;
    -webkit-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
}
.nav-wrapper li>a:focus,
.nav-wrapper li>a:hover {
    color: #ffab40;
}
.side-nav {
    background-color: #404040;
}
.side-nav li>a {
    color: white;
    transition: color .3s ease-in-out;
    -webkit-transition: color .3s ease-in-out;
}
.side-nav li>a:focus,
.side-nav li>a:hover {
    color: #ffab40;
}


/* MAIN */
main a {
    color: #ffab40;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
}
main a:focus,
main a:hover {
    color: #424242;
}


/* FOOTER */
.page-footer {
    background-color: black;
    color: white;
}
.footer_links a {
    color: white;
}

/* BUTTONS */
.btn.btn_form {
    background-color: #ffab40;
    color: black;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
}
.btn.btn_form:focus,
.btn.btn_form:hover{
    color: #ffab40;
    background-color: black;
}

/* INDEX */
.card-image{

}

/* SEARCH */
/* REGISTER */


/* LOG IN */
/* ADD EXERCISE */
.hidden {
    display: none;
}
/* USER ACCOUNT */
/* EXERCISE */
.exercise_creator
.exercise-image
