{% extends 'base.html' %} {% block content %}

<section class="page-container">
    <div class="row center">
        <div class="col s12">
            <h1 class="heading-spacer"><span class="highlight">Editing:</span></h1>
            <h2> "{{exercise.exercise_name}}"</h2>
            <p class="small_text">Please note:<br>All fields marked with <span class="show-required">*</span> are required to be filled</p>
        </div>
    </div>
    <div class="row">
        <div class="col offset-s1 s10 offset-l2 l8 center">
            <form method="POST" action="{{ url_for('update_exercise', exercise_id=exercise._id) }}" class="col s12">
                <div class="row hidden">
                    <div class="input-field col s12">
                        <input id="user_name" name="user_name" class="validate" type="text" value="{{ session['username'] }}" required>
                        <label for="user_name">Added by:</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="exercise_name" name="exercise_name" class="validate" type="text" value="{{exercise.exercise_name}}" required>
                        <label for="exercise_name">Exercise Name:*</label>
                    </div>
                </div>
                <div class="row">
                    <div id="matfix1" class="input-field col s12">
                        <select id="muscle_name" name="muscle_name" class="validate" required>
                            <option value="" disabled selected>Choose Muscle Used</option>
                            {% for item in muscles %}
                                {% if item.muscle_name == exercise.muscle_name %}
                                  <option value="{{item.muscle_name}}" selected>{{item.muscle_name}}</option>
                                {% else %}
                                  <option value="{{item.muscle_name}}">{{item.muscle_name}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <label for="muscle_name">Muscle being used (primary):*</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="If empty, put 'N/A'" id="other_muscles" name="other_muscles" type="text" value="{{exercise.other_muscles}}">
                        <label for="other_muscles">Other muscles used (secondary):</label>
                    </div>
                </div>
                <div class="row">
                    <div id="matfix2" class="input-field col s12">
                        <select id="exercise_type" name="exercise_type" class="validate" required>
                            <option value="" disabled selected>Choose Exercise Type</option>
                            {% for item in types_of_exercise %}
                                {% if item.exercise_type == exercise.exercise_type %}
                                  <option value="{{item.exercise_type}}" selected>{{item.exercise_type}}</option>
                                {% else %}
                                <option value="{{item.exercise_type}}">{{item.exercise_type}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <label for="exercise_type">Type of Exercise:*</label>
                    </div>
                </div>
                <div class="row">
                    <div id="matfix3" class="input-field col s12">
                        <select id="movement_type" name="movement_type" class="validate" required>
                            <option value="" disabled selected>Choose Movement Type</option>
                            {% for item in mechanics %}
                                {% if item.movement_type == exercise.movement_type %}
                                  <option value="{{item.movement_type}}" selected>{{item.movement_type}}</option>
                                {% else %}
                                <option value="{{item.movement_type}}">{{item.movement_type}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <label for="movement_type">Movement Type:*</label>
                    </div>
                </div>
                <div class="row">
                    <div id="matfix4" class="input-field col s12 matfix">
                        <select id="equipment_type" name="equipment_type" class="validate" required>
                            <option value="" disabled selected>Choose Equipment Needed</option>
                            {% for item in equipment %}
                                {% if item.equipment_type == exercise.equipment_type %}
                                  <option value="{{item.equipment_type}}" selected>{{item.equipment_type}}</option>
                                {% else %}
                                <option value="{{item.equipment_type}}">{{item.equipment_type}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <label for="equipment_type">Equipment Required:*</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="If empty, put 'N/A'" id="other_equipment" name="other_equipment" type="text" value="{{exercise.other_equipment}}">
                        <label for="other_equipment">Other equipment used:</label>
                    </div>
                </div>
                <div class="row">
                    <div id="matfix5" class="input-field col s12">
                        <select id="difficulty_level" name="difficulty_level" class="validate" required>
                            <option value="" disabled selected>Choose Difficulty</option>
                            {% for item in difficulty %}
                                {% if item.difficulty_level == exercise.difficulty_level %}
                                  <option value="{{item.difficulty_level}}" selected>{{item.difficulty_level}}</option>
                                {% else %}
                                <option value="{{item.difficulty_level}}">{{item.difficulty_level}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <label for="difficulty_level">Difficulty of Exercise:*</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea placeholder="Separate instructions with a new line..." name="instructions" id="instructions" class="materialize-textarea validate" data-length="2000" required>{{exercise.instructions}}</textarea>
                        <label for="instructions">Instructions:*</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="Must begin with 'http(s)://'" id="image_url" name="image_url" class="validate" type="text" pattern="https://.*" minlength="10" value="{{exercise.image_url}}" required>
                        <label for="image_url">Image URL of Exercise:*</label>
                    </div>
                </div>
                <!--Submit & Cancel Buttons-->
                <div class="center col s12">
                    <button class="btn btn_form" type="submit">Update Exercise</button>
                </div>
                <div class="center col s12">
                    <a href="{{ url_for('exercise', exercise_id=exercise._id) }}" class="btn btn_cancel">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}