{% extends "base.html" %}
{% block content %}
<!--Intro-->
<section class="page-container">
    <div class="row">
        <div class="col s12 intro center-align">
            <h1>Shared Fitness Database</h1>
            {% if 'username' in session %}
                <h2>Welcome back {{ session['username'] }}, lets get training!</h2>
            {% else %}
                <h2>Find the exercises you need here!</h2>
            {% endif %}
            <div class="intro hide-on-small-only">
                <h3>We currently have <span> {{exercises.count()}} </span> exercises! </h3>
                <p>
                    Here at SFDB we want to make keeping fit...easy!<br>
                    So we have compiled a database filled with some of our favourite exercises for you to make use of.<br>
                    Think we've missed a good one? <a href="#" class="text_links">Register</a> or <a href="#" class="text_links">Log In</a> now to add it to the list!<br>
                    So what are you waiting for...?
                </p>
                <h5 class="intro-subheading">Come take a look!</h5>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="row">
        {% for exercise in exercises %}
            <div class="col s12 m6 l4">
                <div class="card grey darken-3">
                    <div class="card-image">
                      <img src="{{exercise.image_url}}" class="responsive-img">
                    </div>
                    <div class="card-content center">
                        <span class="card-title">{{ exercise.exercise_name}}</span>
                        <p>Muscle Used: <span>{{exercise.muscle_name}}</span></p>
                        <p>Equipment Needed: <span>{{exercise.equipment_type}}</span></p>
                        <p>Difficulty: <span>{{exercise.difficulty_level}}</span></p>
                    </div>
                    <div class="card-action center">
                        <a href="{{ url_for('exercise', exercise_id=exercise._id) }}">Find Out More...</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <!-- Help with the code below for the pagination bar was recieved from Spencer Barriball, my code institute mentor-->
    <div class="pagination-container center">
        <ul class="pagination justify-content-center">
            {% for page_number in pages %}
            {% if page_number == page %}
            <li class="page-item active">{{ page_number }}</li>
            {% else %}
            <li class="page-item"><a class="page-link" href="{{ url_for('index', page=page_number) }}">{{ page_number }}</a></li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</section>
{% endblock %}