{% extends "base.html" %}
{% block content %}
<!--Intro-->
<section>
    <div class="row">
        <div class="col s12 intro center-align">
            <h1>Shared Fitness Database</h1>
            {% if 'username' in session %}
                <h2>Welcome back {{ session['username'] }}, lets get training!</h2>
            {% else %}
                <h2>Find the exercises you need here!</h2>
            {% endif %}
            <div class="intro hide-on-small-only">
                <h3>We currently have <span> {{exercises.count()}} </span> exercises! </h3>
                <p>
                    Here at SFDB we want to make keeping fit...easy!<br>
                    So we have compiled a database filled with some of our favourite exercises for you to make use of.<br>
                    Think we've missed a good one? <a href="#" class="text_links">Register</a> or <a href="#" class="text_links">Log In</a> now to add it to the list!<br>
                    So what are you waiting for...?
                </p>
                <h5 class="intro-subheading">Come take a look!</h5>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="row">
        {% for exercise in exercises %}
            <div class="col s12 m6 l4">
                <div class="card grey darken-3">
                    <div class="card-image">
                      <img src="{{exercise.image_url}}" class="responsive-img">
                    </div>
                    <div class="card-content">
                        <span class="card-title">{{ exercise.exercise_name}}</span>
                        <p style="white-space: pre-wrap;">Muscle Used: <span>{{exercise.muscle_name}}</span></p>
                        <p style="white-space: pre-wrap;">Equipment Needed: <span>{{exercise.equipment_type}}</span></p>
                        <p style="white-space: pre-wrap;">Difficulty: <span>{{exercise.difficulty_level}}</span></p>
                    </div>
                    <div class="card-action">
                        <a href="#">Find Out More...</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
{% endblock %}