{% extends "base.html" %}
{% block content %}
<!--Intro-->
<section class="page-container">
    <div class="row">
        <div class="col s12 intro center-align">
            <h1 class="show-required">Shared Fitness Database</h1>
            {% if 'username' in session %}
                <h3>Welcome back {{ session['username'] }}, lets get training!</h3>
            {% else %}
                <h3>Find the exercises you need here!</h3>
            {% endif %}
            <div class="intro hide-on-small-only">
                <h4>We currently have <span> {{exercises.count()}} </span> exercises! </h4>
                {% if 'username' in session %}
                <p>
                    Here at SFDb we want to make keeping fit...easy!<br>
                    So we have compiled a database filled with some of our favourite exercises for you to make use of.<br>
                    Think we've missed a good one? <a href="{{ url_for('add_exercise') }}" class="text_links">Click</a> here now to add it to the list!<br>
                    So what are you waiting for...?
                </p>
                {% else %}
                <p>
                    Here at SFDb we want to make keeping fit...easy!<br>
                    So we have compiled a database filled with some of our favourite exercises for you to make use of.<br>
                    Think we've missed a good one? <a href="{{ url_for('register') }}" class="text_links">Register</a> or <a href="{{ url_for('log_in') }}" class="text_links">Log In</a> now to add it to the list!<br>
                    So what are you waiting for...?
                </p>
                {% endif %}
                <h5 class="intro-subheading">Come take a look!</h5>
            </div>
        </div>
    </div>
</section>
<section class="page-container">
    <h5 class="center heading-spacer"><span class="highlight">Our Exercises</span></h5>
    <div class="row">
        <div class="col s12 center">
            <div class="row">
            {% for exercise in exercises %}
                <div class="col s12 m6 l4">
                    <div class="card grey darken-3">
                        <div class="card-image">
                          <img src="{{exercise.image_url}}" class="responsive-img" alt="Image of the exercise: {{exercise.exercise_name}}">
                        </div>
                        <div class="card-content">
                            <span class="card-title">{{exercise.exercise_name}}</span>
                            <p class="card-field">Muscle Used: <br><span class="card-info">{{exercise.muscle_name}}</span></p>
                            <p class="card-field">Equipment Needed: <br><span class="card-info">{{exercise.equipment_type}}</span></p>
                            <p class="card-field">Difficulty: <br><span class="card-info">{{exercise.difficulty_level}}</span></p>
                        </div>
                        <div class="card-action">
                            <a href="{{ url_for('exercise', exercise_id=exercise._id) }}">Find Out More...</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
    <!-- Help with the code below for the pagination bar was recieved from Spencer Barriball, my code institute mentor-->
    <div class="page-container center">
        <ul class="pagination">
            {% for page_number in home_pagination_pages %}
            {% if page_number == home_pagination_page %}
            <li class="page-item active">{{ page_number }}</li>
            {% else %}
            <li class="page-item"><a class="page-link" href="{{ url_for('index', home_pagination_page=page_number) }}">{{ page_number }}</a></li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</section>
{% endblock %}