{% extends "base.html" %}
{% block content %}

<section class="page-container">
    <div class="row">
        <div class="col s12 center heading-spacer">
            <h3 class="heading-spacer"><span class="highlight">Log in to your account</span></h3>
            <p>Please note:<br>Usernames/Passwords are case-sensitive.</p>
        </div>
    </div>
    <div class="row">
        <div class="col offset-s1 s10 offset-m2 m8 offset-l3 l6 center">
            <form method="POST" action="{{ url_for('log_in') }}" class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="Enter username here..." id="username" name="username" type="text" class="validate" required>
                        <label for="username">USERNAME</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="Enter password here..." id="password" name="password" type="password" class="validate" required>
                        <label for="password">PASSWORD</label>
                    </div>
                </div>
                <button class="btn btn_form" type="submit">Log In</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col s12 center">
            <p>Haven't got an account? Register <span class="info-label"><a class="text_links" href="{{ url_for('register') }}">here</a></span></p>
        </div>
    </div>
</section>
{% endblock %}