{% extends "base.html" %}
{% block content %}
<!--Intro-->
<section class="page-container">
    <div class="row">
        <div class="col s12 intro center">
            <h1><span class="highlight">Search Page</span></h1>
            <p>
                You can search using the name of the exercise, the muscle you want to train, the equipment you want
                to use or by the difficulty of the exercise you wish to carry out.<br>
                Alternatively, leave the search bar clear and click the search button to return all exercises.
            </p>
        </div>
    </div>
</section>
<section class="page-container">
    <div class="row top-spacer">
        <div class="col s12 offset-m1 m10 center">
            <form method="POST" action="{{ url_for('search') }}" class="input-group col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <input class="input-group" name="query" type="text">
                        <label>Search for:</label>
                    </div>
                </div>
                <div class="center search_box">
                    <button class="btn btn_form" type="submit">Search</button>
                    <a href="{{ url_for('search') }}" class="btn btn_reset">Reset</a>
                </div>
            </form>
        </div>
    </div>
</section>
{% if results %}
<section class="page-container">
    <div class="row top-spacer">
        <div class="col s12 center">
            <h5><span class="highlight">Search Results</span></h5>
            {% if results == 0 %}
            <h6>Found {{results.count()}} exercises matching your search criteria!</h6>
            {elif results == 1 %}
            <h6>Found {{results.count()}} exercise matching your search criteria!</h6>
            {% else %}
            <h6>Found {{results.count()}} exercises matching your search criteria!</h6>
            {% endif %}
            <div class="row top-spacer">
                {% for exercise in results %}
                <div class="col s12 m6 l4">
                    <div class="card grey darken-3">
                        <div class="card-image">
                            <img src="{{exercise.image_url}}" class="responsive-img">
                        </div>
                        <div class="card-content center">
                            <span class="card-title">{{ exercise.exercise_name}}</span>
                            <p>Muscle Used: <span class="card-info">{{exercise.muscle_name}}</span></p>
                            <p>Equipment Needed: <span class="card-info">{{exercise.equipment_type}}</span></p>
                            <p>Difficulty: <span class="card-info">{{exercise.difficulty_level}}</span></p>
                        </div>
                        <div class="card-action center">
                            <a href="{{ url_for('exercise', exercise_id=exercise._id) }}" class="text_links">Find Out More...</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endif %}

{% endblock %}
