{% extends "base.html" %}
{% block content %}
<!--Intro-->
<section class="page-container">
    <div class="row">
        <div class="col s12 intro center">
            <h1>Search Page</h1>
        </div>
    </div>
    <div class="row">
        <div class="col offset-s1 s10 offset-l2 l8 center">
            <form method="POST" action="{{ url_for('search') }}" class="input-group col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="Type the name of an exercise, or leave clear to return all" class="input-group" name="query" type="text">
                        <label>Search for:</label>
                    </div>
                </div>
                <div class="center">
                    <button class="btn btn_form" type="submit">Search</button>
                    <a href="{{ url_for('search') }}" class="btn btn_delete">Reset</a>
                </div>
            </form>
        </div>
    </div>
</section>
<section>
    <div class="row">
    {% if results %}
            <h5>Search Results</h5>
            <h6>Found {{results.count()}} exercises matching your criteria!</h6>

            <div class="row">
                {% for exercise in results %}
                    <div class="col s12 m6 l4">
                        <div class="card grey darken-3">
                            <div class="card-image">
                              <img src="{{exercise.image_url}}" class="responsive-img">
                            </div>
                            <div class="card-content center">
                                <span class="card-title">{{ exercise.exercise_name}}</span>
                                <p>Muscle Used: <span>{{exercise.muscle_name}}</span></p>
                                <p>Equipment Needed: <span>{{exercise.equipment_type}}</span></p>
                                <p>Difficulty: <span>{{exercise.difficulty_level}}</span></p>
                            </div>
                            <div class="card-action center">
                                <a href="{{ url_for('exercise', exercise_id=exercise._id) }}">Find Out More...</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</section>

{% endblock %}
